{
#        admin fd/6
}

http://:80 {
	reverse_proxy 10.89.0.10:80
}

http://:8123 {
    reverse_proxy 10.89.0.50:8123
}

http://:9283 {
    reverse_proxy 10.89.0.60:80
}

http://:8000 {
    reverse_proxy 10.89.0.70:8000
}

# Vaultwarden (HTTPS required for Web Crypto API)
https://:8001 {
    tls internal
    reverse_proxy 10.89.0.80:80
}

http://:9120 {
    reverse_proxy 10.89.0.90:9120
}

http://:9191 {
    reverse_proxy 10.89.0.100:9191
}

