[Unit]
Description=Home Assistant
After=network-online.target

[Container]
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable
Network=dns.network
IP=10.89.0.50
PodmanArgs=--network-alias=homeassistant
Volume=%h/homeassistant_config:/config:Z
Volume=/etc/localtime:/etc/localtime:ro
# Privileged might be needed for some hardware access, but starting rootless restricted first.

[Install]
WantedBy=default.target

[Service]
Restart=always
TimeoutStartSec=900
