[Unit]
Description=Unbound DNS Server
After=network-online.target

[Container]
ContainerName=unbound
Image=docker.io/mvance/unbound:latest
Network=dns.network
IP=10.89.0.20
PodmanArgs=--network-alias=unbound
Volume=%h/.config/containers/storage/unbound/unbound.conf:/opt/unbound/etc/unbound/unbound.conf:Z

[Install]
WantedBy=default.target

[Service]
Restart=always
