[Unit]
Description=Vaultwarden (Bitwarden compatible server)
After=network-online.target

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:latest
Network=dns.network
IP=10.89.0.80
PodmanArgs=--network-alias=vaultwarden
Volume=%h/vaultwarden_data:/data:Z
Environment=SIGNUPS_ALLOWED=true

[Install]
WantedBy=default.target

[Service]
Restart=always
TimeoutStartSec=900
